python-dotenv==0.17.1
uvicorn==0.13.4
fastapi==0.65.1
git+https://github.com/jqueguiner/ai-api-utils.git
icecream==2.1.0
python-multipart==0.0.5
git+https://github.com/jqueguiner/DeOldify.git
face-recognition==1.3.0
pycocotools==2.0.2
git+https://github.com/cocodataset/panopticapi.git
submitit==1.3.3
prometheus-fastapi-instrumentator==5.7.1
tensorflow-gpu==2.4.1
