streamlit
aiohttp
aiofiles
git+https://github.com/jqueguiner/ai-api-utils.git@main
icecream==2.1.0
git+https://github.com/jqueguiner/ai-api-utils.git@main
git+https://github.com/jqueguiner/DeOldify.git@master
opencv-python
googledrivedownloader==0.4
clean-text
