/*
 * FastAPI
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.HTTPValidationError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TextTextTranslationApi {
    private ApiClient localVarApiClient;

    public TextTextTranslationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TextTextTranslationApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for applyTextTextTranslationPost
     * @param inputString  (optional, default to &quot;Text to translate&quot;)
     * @param sourceLanguage  (optional, default to &quot;en&quot;)
     * @param targetLanguage  (optional, default to &quot;fr&quot;)
     * @param model  (optional, default to Helsinki-NLP)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call applyTextTextTranslationPostCall(String inputString, String sourceLanguage, String targetLanguage, String model, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/text/text/translation/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (inputString != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("input_string", inputString));
        }

        if (sourceLanguage != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("source_language", sourceLanguage));
        }

        if (targetLanguage != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("target_language", targetLanguage));
        }

        if (model != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("model", model));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call applyTextTextTranslationPostValidateBeforeCall(String inputString, String sourceLanguage, String targetLanguage, String model, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = applyTextTextTranslationPostCall(inputString, sourceLanguage, targetLanguage, model, _callback);
        return localVarCall;

    }

    /**
     * Apply model for the translation task for a given models
     * 
     * @param inputString  (optional, default to &quot;Text to translate&quot;)
     * @param sourceLanguage  (optional, default to &quot;en&quot;)
     * @param targetLanguage  (optional, default to &quot;fr&quot;)
     * @param model  (optional, default to Helsinki-NLP)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object applyTextTextTranslationPost(String inputString, String sourceLanguage, String targetLanguage, String model) throws ApiException {
        ApiResponse<Object> localVarResp = applyTextTextTranslationPostWithHttpInfo(inputString, sourceLanguage, targetLanguage, model);
        return localVarResp.getData();
    }

    /**
     * Apply model for the translation task for a given models
     * 
     * @param inputString  (optional, default to &quot;Text to translate&quot;)
     * @param sourceLanguage  (optional, default to &quot;en&quot;)
     * @param targetLanguage  (optional, default to &quot;fr&quot;)
     * @param model  (optional, default to Helsinki-NLP)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> applyTextTextTranslationPostWithHttpInfo(String inputString, String sourceLanguage, String targetLanguage, String model) throws ApiException {
        okhttp3.Call localVarCall = applyTextTextTranslationPostValidateBeforeCall(inputString, sourceLanguage, targetLanguage, model, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Apply model for the translation task for a given models (asynchronously)
     * 
     * @param inputString  (optional, default to &quot;Text to translate&quot;)
     * @param sourceLanguage  (optional, default to &quot;en&quot;)
     * @param targetLanguage  (optional, default to &quot;fr&quot;)
     * @param model  (optional, default to Helsinki-NLP)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call applyTextTextTranslationPostAsync(String inputString, String sourceLanguage, String targetLanguage, String model, final ApiCallback<Object> _callback) throws ApiException {

        okhttp3.Call localVarCall = applyTextTextTranslationPostValidateBeforeCall(inputString, sourceLanguage, targetLanguage, model, _callback);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getVersionsTextTextTranslationGet
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getVersionsTextTextTranslationGetCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/text/text/translation/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getVersionsTextTextTranslationGetValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getVersionsTextTextTranslationGetCall(_callback);
        return localVarCall;

    }

    /**
     * Get list of models available for translation
     * 
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object getVersionsTextTextTranslationGet() throws ApiException {
        ApiResponse<Object> localVarResp = getVersionsTextTextTranslationGetWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get list of models available for translation
     * 
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> getVersionsTextTextTranslationGetWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getVersionsTextTextTranslationGetValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get list of models available for translation (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getVersionsTextTextTranslationGetAsync(final ApiCallback<Object> _callback) throws ApiException {

        okhttp3.Call localVarCall = getVersionsTextTextTranslationGetValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
