protobuf==3.20.1
scikit-build==0.14.1
icecream==2.1.1
uvicorn==0.14.0
fastapi==0.65.2
fastapi_utils==0.2.1
prometheus_fastapi_instrumentator==5.7.1
python_forge==18.6.0
googledrivedownloader==0.4
python-multipart==0.0.5
pipenv==2022.1.8
easyargs==0.9.4
exitstatus==2.1.0
botocore==1.22.6
google-cloud-bigquery-storage==2.13.1
nltk==3.6.*
tensorflow==2.8.*
torch==1.9.1
torchaudio==0.9.1
torchvision==0.10.1
orjson==3.6.*
pyaml
sentencepiece==0.1.96 
tritonclient==2.21.0
tritonclient[http]
