name: Gladia Docker Hub Push

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - closed

concurrency:
  group: '${{ github.workflow }}'
  cancel-in-progress: false

env:
  REGISTRY_URL: https://docker.gladia.io
  TAG_PROMOTED: ci-${{ github.event.pull_request.number }}
  TAG_PROMOTE: latest
  CONTENT_TYPE: application/vnd.docker.distribution.manifest.v2+json

jobs:

  promote-gladia-image:
    runs-on: [self-hosted, linux, STD]
    steps:
      - name: Promote *gladia-base* image to Gladia Registry
        if: |
          contains(github.event.pull_request.labels.*.name, 'ci: force-build-base')
        env:
          REPOSITORY: gladia-base
        run: |
          MANIFEST=$(curl -u ${{ secrets.DOCKER_HUB_USERNAME }}:${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} -H "Accept: ${{ env.CONTENT_TYPE }}" "${{ env.REGISTRY_URL }}/v2/${{ env.REPOSITORY }}/manifests/${{ env.TAG_PROMOTED }}")
          curl -u ${{ secrets.DOCKER_HUB_USERNAME }}:${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} -X PUT -H "Content-Type: ${{ env.CONTENT_TYPE }}" -d "${{ env.MANIFEST }}" "${{ env.REGISTRY_URL }}/v2/${{ env.REPOSITORY }}/manifests/${{ env.TAG_PROMOTE }}"

      - name: Promote *gladia* image to Gladia Registry
        env:
          REPOSITORY: gladia
        run: |
          MANIFEST=$(curl -u ${{ secrets.DOCKER_HUB_USERNAME }}:${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} -H "Accept: ${{ env.CONTENT_TYPE }}" "${{ env.REGISTRY_URL }}/v2/${{ env.REPOSITORY }}/manifests/${{ env.TAG_PROMOTED }}")
          curl -u ${{ secrets.DOCKER_HUB_USERNAME }}:${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} -X PUT -H "Content-Type: ${{ env.CONTENT_TYPE }}" -d "${{ env.MANIFEST }}" "${{ env.REGISTRY_URL }}/v2/${{ env.REPOSITORY }}/manifests/${{ env.TAG_PROMOTE }}"

  promote-gladia-to-DH:
    needs: promote-gladia-image
    runs-on: [self-hosted, linux, STD]
    steps:
      - name: Login to DockerHub Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Login to Gladia Registry
        uses: docker/login-action@v1
        with:
          registry: docker.gladia.io
          username: ${{ secrets.DOCKER_GLADIA_USERNAME }}
          password: ${{ secrets.DOCKER_GLADIA_ACCESS_TOKEN }}

      - name: Promote *gladia-base* image to DH Registry
        if: |
          contains(github.event.pull_request.labels.*.name, 'ci: force-build-base')
        run: |
          docker pull docker.gladia.io/gladia-base:${{ env.TAG_PROMOTE }} &&
          docker tag docker.gladia.io/gladia-base:${{ env.TAG_PROMOTE }} gladiaio/gladia-base:latest &&
          docker push gladiaio/gladia-base:latest

      - name: Promote *gladia* image to DH Registry
        run: |
          docker pull docker.gladia.io/gladia-base:${{ env.TAG_PROMOTE }} &&
          docker tag docker.gladia.io/gladia-base:${{ env.TAG_PROMOTE }} gladiaio/gladia-base:latest &&
          docker push gladiaio/gladia-base:latest
    
  notify-release:
    needs: promote-gladia-to-DH
    runs-on: [self-hosted, linux, STD]
    steps:
      - uses: actions/checkout@v2
      - name: Notify Slack DH Release
        uses: rtCamp/action-slack-notify@v2.2.0
        env: 
          SLACK_CHANNEL: #releases
          SLACK_COLOR: ${{ job.status }}
          SLACK_USERNAME: gladia-ai-ci
          SLACK_TITLE: 'New Docker Hub Release :rocket:'
          SLACK_MESSAGE: ${{ github.event.pull_request.title }} by ${{ github.event.pull_request.user.login }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_ICON_EMOJI: ':rocket:'


  deploy-aipi-1:
    needs: promote-gladia-image
    runs-on: [self-hosted, linux, aipi-1]
    steps:
      - name: Login to Gladia Registry
        uses: docker/login-action@v1
        with:
          registry: docker.gladia.io
          username: ${{ secrets.DOCKER_GLADIA_USERNAME }}
          password: ${{ secrets.DOCKER_GLADIA_ACCESS_TOKEN }}
      
      - name: pull gladia image
        run: docker pull docker.gladia.io/gladia:${{ env.TAG_PROMOTE }}

      - name: stop docker gladia
        run: docker kill gladia-aipi && docker rm gladia-aipi

      - name: start docker gladia
        run: | 
            docker run -d --name gladia-aipi \
            --gpus all --shm-size=5g \
            -p 80:8080 \
            -v /tmp/gladia:/tmp/gladia \
            -e TRITON_SERVER_PORT_HTTP=8000 \
            -e TRITON_SERVER_URL=${{ secrets.TRITON_SERVER_URL }} \
            -e TRITON_LAZY_DOWNLOAD=false \
            -e TRITON_MODELS_PATH=/tmp/gladia/triton \
            -e HUGGINGFACE_ACCESS_TOKEN=${{ secrets.HUGGINGFACE_ACCESS_TOKEN }} \
            -e STABILITY_KEY=${{ secrets.STABILITY_KEY }} \
            -e MODE=server \
            docker.gladia.io/gladia:${{ env.TAG_PROMOTE }}
      # todo : healthcheck, notify failure

  deploy-aipi-2:
    needs: deploy-aipi-1
    runs-on: [self-hosted, linux, aipi-2]
    steps:
      - name: Login to Gladia Registry
        uses: docker/login-action@v1
        with:
          registry: docker.gladia.io
          username: ${{ secrets.DOCKER_GLADIA_USERNAME }}
          password: ${{ secrets.DOCKER_GLADIA_ACCESS_TOKEN }}
      
      - name: pull gladia image
        run: docker pull docker.gladia.io/gladia:${{ env.TAG_PROMOTE }}

      - name: stop docker gladia
        run: docker kill gladia-aipi && docker rm gladia-aipi

      - name: start docker gladia
        run: | 
            docker run -d \
            --name gladia-aipi \
            --gpus all \
            --shm-size=5g \
            -p 80:8080 \
            -v /tmp/gladia:/tmp/gladia \
            -e TRITON_SERVER_PORT_HTTP=8000 \
            -e TRITON_SERVER_URL=${{ secrets.TRITON_SERVER_URL }} \
            -e TRITON_LAZY_DOWNLOAD=false \
            -e TRITON_MODELS_PATH=/tmp/gladia/triton \
            -e HUGGINGFACE_ACCESS_TOKEN=${{ secrets.HUGGINGFACE_ACCESS_TOKEN }} \
            -e STABILITY_KEY=${{ secrets.STABILITY_KEY }} \
            -e MODE=server \
            docker.gladia.io/gladia:${{ env.TAG_PROMOTE }}

  notify-aipi-prod-deployment:
    needs: [deploy-aipi-1, deploy-aipi-2]
    runs-on: [self-hosted, linux, STD]
    steps:
      - uses: actions/checkout@v2
      - name: Notify Slack Deployment done
        uses: rtCamp/action-slack-notify@v2.2.0
        env: 
          SLACK_CHANNEL: #releases
          SLACK_COLOR: ${{ job.status }}
          SLACK_USERNAME: gladia-ai-ci
          SLACK_TITLE: 'Deployment done :rocket:'
          SLACK_MESSAGE: ${{ github.event.pull_request.title }} by ${{ github.event.pull_request.user.login }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_ICON_EMOJI: ':rocket:'